<h2>Admin: Manage Dogs for Adoption</h2>

<ul>
  <li *ngFor="let dog of dogs">
    {{ dog.name }} ({{ dog.breed }})
    <button (click)="selectDog(dog)">Edit</button>
    <button *ngIf="dog.id !== undefined" (click)="deleteDog(dog.id!)">Delete</button>

  </li>
</ul>

<div *ngIf="selectedDog">
  <h3>Edit Dog</h3>
  <form #dogForm="ngForm">
    <label>Name: <input [(ngModel)]="selectedDog.name" name="name"></label><br>
    <label>Breed: <input [(ngModel)]="selectedDog.breed" name="breed"></label><br>
    <label>Age: <input [(ngModel)]="selectedDog.age" name="age" type="number"></label><br>
    <label>Description: <input [(ngModel)]="selectedDog.description" name="description"></label><br>
    <button (click)="updateDog(selectedDog)">Save</button>
  </form>
</div>

<div>
  <h3>Add New Dog</h3>
  <form #newdogForm="ngForm" (ngSubmit)="addDog()">
    <label>Name: <input [(ngModel)]="newDog.name" name="newName" required></label><br>
    <label>Breed: <input [(ngModel)]="newDog.breed" name="newBreed" required></label><br>
    <label>Age: <input [(ngModel)]="newDog.age" name="newAge" type="number" required></label><br>
    <label>Description: <input [(ngModel)]="newDog.description" name="newDescription" required></label><br>
    <button type="submit">Add New Dog</button>
  </form>
</div>
